<div flex layout="column" ng-controller="PlannerCtrl as planner">
  <md-toolbar layout="row" class="md-whiteframe-z1">
    <md-button hide-gt-sm ng-click="planner.toggleSideMenu()">
      <i class="material-icons md-36">dehaze</i>
    </md-button>
    <h3>Angular Material and Firebase app</h3>
  </md-toolbar>
  <md-tabs md-dynamic-height md-stretch-tabs="always">
    <md-tab label="{{schedule.time}}" flex ng-id="schedule.id" ng-repeat="schedule in planner.schedules" md-on-select="planner.tabChanged(schedule)">
      <md-content class="md-padding">
        <md-list>
          <md-subheader>Events</md-subheader>
          <md-list-item class="md-3-line" ng-repeat="event in planner.events | filter:{type: schedule.id}:true " ng-click="planner.removeEvent(event)">
            <div class="md-list-item-text" layout="column">
              <h3>{{ event.name }}
                - type
                {{event.type}}</h3>
              <p>(click to remove)</p>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab>
  </md-tabs>
</div>
