<div ng-controller="SideBarCtrl as ctrl">
  <md-sidenav class="site-sidenav md-sidenav-left"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar class="md-whiteframe-z1">
      <md-button ng-href="/">
        <h3>{{ctrl.title}}</h3>
      </md-button>
    </md-toolbar>
    <md-list>
      <md-list-item>
        <md-button ng-href="/#/login" class="md-raised md-warn">Login</md-button>
      </md-list-item>
      <md-list-item>
        <md-button ng-click="ctrl.addEvent()" class="md-raised md-primary">Add event (type
          {{ctrl.currentSchedule}})</md-button>
      </md-list-item>
      <md-list-item ng-repeat="day in ctrl.week">
        <md-button class="md-primary" ng-disabled="day == 'Monday'">{{day}}</md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>
</div>
